data/NONGENIC_ANNOTATION/CpGislands_annotation filter=lfs diff=lfs merge=lfs -text
data/hg18.chroms.sizes filter=lfs diff=lfs merge=lfs -text
data/mm9.chrdata filter=lfs diff=lfs merge=lfs -text
data/sacser.chrdata filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES filter=lfs diff=lfs merge=lfs -text
data/NONGENIC_ANNOTATION filter=lfs diff=lfs merge=lfs -text
data/dm3.chrdata filter=lfs diff=lfs merge=lfs -text
data/hg18.chrdata filter=lfs diff=lfs merge=lfs -text
data/NONGENIC_ANNOTATION/RepMask3.2.7_annotation filter=lfs diff=lfs merge=lfs -text
data/NONGENIC_ANNOTATION/SegmentalDups_annotation filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Mybl1_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Rfx4_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Rfx3_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sfpi1_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Arid5a_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Foxj3_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Tbp_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Irf4_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sox12_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sry_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Tcfe2a_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Irf6_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Jundm2_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Osr1_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Atf1_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Gata5_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Mafb_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Plagl1_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sox14_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Hoxa3_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Srf_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Tcfap2b_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zbtb12_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Foxj1_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sox21_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/IRC900814_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zic1_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Nkx3-1_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Smad3_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sox7_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Tcfap2e_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Arid3a_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zfp187_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Plagl1_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Rfx4_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Hnf4a_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Irf5_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sox12_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sox1_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Ehf_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Foxj3_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Gata6_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zfp410_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Rxra_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Six6_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Osr2_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zfp105_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Hbp1_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zfp740_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Bcl6b_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Foxa2_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Isgf3g_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Gabpa_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Osr2_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Ascl2_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Foxj1_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Foxl1_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Tcf7_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Tcf7l2_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Gata3_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Mafk_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zic3_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Tcfap2c_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zfp281_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Atf1_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Tcfe2a_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zbtb12_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Gcm1_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Gmeb1_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Tcf7_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zfp691_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Esrra_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Mafb_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Myb_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Arid3a_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Gata3_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zfp410_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Eomes_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Hoxa3_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Mtf1_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Nr2f2_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Ehf_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sox15_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sox15_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zscan4_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/E2F3_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Nr2f2_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Bbx_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sox8_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Spdef_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zfp128_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zic3_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Foxa2_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zfp161_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Arid5a_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Gm397_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Gmeb1_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Klf7_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zfp128_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Srf_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zic1_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Klf7_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Six6_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zbtb7b_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Irf6_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Smad3_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Bhlhb2_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Foxk1_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Lef1_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sox18_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Gata6_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Lef1_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sox21_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sox30_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Tcfap2b_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zfp161_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Gata5_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Mtf1_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Tcfap2c_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Mafk_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sox18_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/E2F3_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Hbp1_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Tcfap2e_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sox30_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Tcf1_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zfp281_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Irf4_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sox13_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zic2_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Myb_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Nkx3-1_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Tcf7l2_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zbtb3_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Foxk1_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Irf5_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sox5_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sox7_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Tcfap2a_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zic2_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Rfxdc2_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Tcf3_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Irf3_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Isgf3g_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sox11_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Tbp_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Tcfap2a_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Glis2_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/IRC900814_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sox5_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zfp105_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Gm397_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Esrra_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Ascl2_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Eomes_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sox14_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Hic1_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Irf3_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Myf6_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sp100_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zbtb7b_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zscan4_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Bhlhb2_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/INITIAL filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sfpi1_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sox1_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zbtb3_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zfp691_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Glis2_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Bcl6b_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Hnf4a_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sox4_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sox4_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sox8_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sp4_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Egr1_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Foxl1_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Myf6_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sry_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Hic1_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Jundm2_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Max_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Rxra_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Osr1_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Rara_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sox11_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Tcf3_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Mybl1_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sp4_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zfp187_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Rara_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Rfxdc2_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Spdef_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Tcf1_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Elf3_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Gcm1_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Rfx3_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sox13_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/E2F2_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/E2F2_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Zfp740_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Max_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sox17_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sp100_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Gabpa_pwm_primary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Elf3_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Bbx_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Egr1_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/BULYK_MATRICES/Sox17_pwm_secondary.txt filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/FOXD1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/MZF1_1-4.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Pdx1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/RORA_2.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Arnt-Ahr.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/CREB1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Fos.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/GATA2.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Gata1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/ESR1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/En1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/MEF2A.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Nobox.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/PPARG-RXRA.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/RORA_1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/TFAP2A.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Ar.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/NR3C1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/RREB1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/STAT1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Sox17.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/TAL1-TCF3.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/ELK1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Pax6.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Prrx2.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/HLF.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/NF-kappaB.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/REST.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/SOX9.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/FOXI1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/SP1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/TCF11-MafG.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/YY1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Cebpa.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/NFIL3.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/SRY.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Bapx1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/MAX.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Myf.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Pax2.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/TP53.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/NFKB1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Evi1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/FOXC1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/FOXF2.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/HNF4A.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/IRF2.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/MYC-MAX.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/MZF1_5-13.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/NR1H2-RXRA.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Ddit3-Cebpa.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/HNF1A.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/MIZF.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Myb.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/PBX1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Pax5.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/TEAD1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/USF1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/ETS1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Gfi.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Klf4.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Nkx2-5.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/PPARG.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Spz1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Staf.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Foxq1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/GATA3.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/RXRA-VDR.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/SPIB.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/SRF.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/SPI1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/E2F1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/FOXL1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Foxa2.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/IRF1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Mycn.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/NFYA.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/NR2F1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Sox5.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/T.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Foxd3.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/GABPA.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Mafb.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/RELA.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/RUSH1-alfa.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Roaz.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Pax4.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Arnt.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/ELF5.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/ELK4.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Hand1-Tcfe2a.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/Lhx3.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/NHLH1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/NKX3-1.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/REL.jaspar filter=lfs diff=lfs merge=lfs -text
data/JASPAR_MATRICES/ZEB1.jaspar filter=lfs diff=lfs merge=lfs -text
